body {
  font-family: "Sarabun", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  padding: 0rem;
  margin: 0rem;
  border: 0rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.menu {
  margin: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eb4711;
  opacity: calc(50);
  list-style-type: none;
  color: white;
  font-size: 14px;
  font-family: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 4rem;
  text-align: right;
}

label {
  margin: 0 40px 0 0;
  font-size: 2rem;
  line-height: 5.5rem;
  text-align: center;
}

.ham {
  margin: 0 40px 0 0;
  font-size: 3.5rem;
  line-height: 5.5rem;
  display: none;
  text-align: right;
}

#lines {
  display: none;
}

#logo {
  padding-top: 1rem;
  padding-left: 1rem;
}

a {
  -webkit-text-decoration: white;
          text-decoration: white;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  font-family: "Sarabun", sans-serif;
}

a:hover {
  color: black;
}

a --img {
  position: relative;
  width: 200%;
  height: auto;
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Orelega One", cursive;
  margin: 0px;
  padding: 0rem;
  border: 0rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "Orelega One", cursive;
  margin: 1rem;
  padding: 1rem;
  border: 0rem;
}

h3 {
  text-align: center;
  font-family: "Orelega One", cursive;
  font-size: 2.5rem;
  margin: 1rem;
  padding: 0rem;
  border: 0rem;
}

h5 {
  font-size: 2.5rem;
  font-family: "Orelega One", cursive;
  margin: 1rem;
  padding: 1rem;
  border: 0rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem;
  border: 0rem;
  text-align: center;
  color: #5a5959;
  font-family: "Sarabun", sans-serif;
}

p strong {
  font-family: 'Sarabun', sans-serif semibold;
}

.cuadrados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cuadradosa {
  background-color: #e4ded9;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.doscolum {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.contenedor -footer {
  padding: 3rem 0;
  text-align: center;
}

.contenedor -footer -trabajos {
  margin: 1.5rem;
  margin-top: rem;
  margin-bottom: 2rem;
  display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
}

.contacto-footer {
  background-color: #eb4711;
  margin: 0rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.consulta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem;
}

.footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer __flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.site-footer {
  background-color: #333333;
  margin: 0;
}

.copyright {
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 675px) {
  .ham {
    background-color: #eb4711;
    display: block;
    cursor: pointer;
    margin: 0rem;
    padding-right: 1.5rem;
  }
  .menu {
    text-align: center;
    width: 100%;
    background-color: #f3c0ae;
    display: none;
    margin-top: 0rem;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid black;
    margin: 0rem;
  }
  #lines:checked + .menu {
    display: block;
  }
  #logo {
    display: none;
  }
  #logo .contacto-footer {
    background-color: burlywood;
    margin: 0rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    text-decoration: none;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #logo .consulta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=estilos.css.map */