a { text-decoration:$color-white;
    color: $color-white;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    font-family: $font-body;

    &:hover {
        color: black;
    }
}
a{  
    --img{
        position: relative;
        width: 200%;
        height: auto;
        margin-bottom: 1rem;
    }
}
