// footer
.footer{
    background-color: black;
    color: white;

    __flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    text-align: center;
    }
}

.site-footer {
    background-color: #333333;
}


.copyright {
    color: #ffffff;
    display: block;
}