// General
body {
    font-family: $font-body;
    font-size: 2.2rem;
    line-height: 2;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
// Navbar
.menu {
    margin: 0rem;
    display: flex;
    background-color: $color-orange;
    opacity: calc(50);
    list-style-type: none;
    color: $color-white;
    font-size: 2rem;
    font-family: $color-white;    
    align-items: center;
    position: relative;
    line-height: 4rem;
    text-align: right;
}
label{
    margin: 0 40px 0 0; 
    font-size: 2rem;
    line-height: 5.5rem;
    text-align: center;
 }


//  a
 a { text-decoration:$color-white;
    color: $color-white;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    font-family: $font-body;
    font-size: 2rem;

    &:hover {
        color: black;
    }
}
a{  
    --img{
        position: relative;
        width: 200%;
        height: auto;
        margin-bottom: 1rem;
    }
}


//  h
h1 {
    text-align: center;
    font-size: 4rem;
    font-family: $font-title;
    margin: 0px;
    padding: 0rem;
    border: 0rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}

h3 {
    text-align: center;
    font-family: $font-title;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0rem;
    border: 0rem;
}

h5 {
    font-size: 2.5rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}

// párrafos
p { font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 2;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1rem;
    border: 0rem;
    text-align: center;
    color: rgb(90, 89, 89);
    font-family: $font-body;


    strong {
    font-family: 'Sarabun', sans-serif semibold;
   }
}

// menu hamburguesa

// menu hamburguesa
.ham{
    margin: 0 40px 0 0; 
    font-size: 3.5rem;
    line-height: 5.5rem;
    display: none;
    text-align: right;
 }
 
#lines{
    display: none;
}

#logo {
padding-top: 1rem;
padding-left: 1rem;
}
