h1 {
    text-align: center;
    font-size: 4rem;
    font-family: $font-title;
    margin: 0px;
    padding: 0rem;
    border: 0rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}

h3 {
    text-align: center;
    font-family: $font-title;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0rem;
    border: 0rem;
}

h5 {
    font-size: 2.5rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}