// imagen 

.doscolum {
    display: inline-block;
    justify-content: space-between;
    margin-top: 1.5rem;
}

img {
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    }
    