/*MAPS */
$mapRedes:(facebook:red,instagram:blue,twitter:yellow);

@each $red,$color in $mapRedes {
    .#{$red}--link {
        color: $color;
    }    
}

/*MAPS GET*/
$estilo:(
    color: $color-white,
    tamFuente: 1.6rem,);

.cuadradosa {
    background-color: map-get($estilo, color);
}