// menu hamburguesa
.ham{
    margin: 0 40px 0 0; 
    font-size: 3.5rem;
    line-height: 5.5rem;
    display: none;
    text-align: right;
 }
 
#lines{
    display: none;
}

#logo {
padding-top: 1rem;
padding-left: 1rem;
}
