// variables
$color-orange: rgb(235, 71, 17);
$color-white: rgb(255, 255, 255);
$font-title:'Orelega One', cursive;
$font-body: 'Sarabun', sans-serif;

// SCSS 
// General
body {
    font-family: $font-body;
    font-size: 1.6rem;
    line-height: 2;
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
// Navbar
.menu {
    margin: 0rem;
    display: flex;
    background-color: $color-orange;
    opacity: calc(50);
    list-style-type: none;
    color: $color-white;
    font-size: 14px;
    font-family: $color-white;    
    align-items: center;
    position: relative;
    line-height: 4rem;
    text-align: right;
}
label{
    margin: 0 40px 0 0; 
    font-size: 2rem;
    line-height: 5.5rem;
    text-align: center;
 }
// menu hamburguesa
 .ham{
     margin: 0 40px 0 0; 
     font-size: 3.5rem;
     line-height: 5.5rem;
     display: none;
     text-align: right;
  }
  
 #lines{
     display: none;
 }
 
 #logo {
 padding-top: 1rem;
 padding-left: 1rem;
 }
 
//  a
a { text-decoration:$color-white;
    color: $color-white;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    font-family: $font-body;

    &:hover {
        color: black;
    }
}
a{  
    --img{
        position: relative;
        width: 200%;
        height: auto;
        margin-bottom: 1rem;
    }
}


// h
h1 {
    text-align: center;
    font-size: 4rem;
    font-family: $font-title;
    margin: 0px;
    padding: 0rem;
    border: 0rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}

h3 {
    text-align: center;
    font-family: $font-title;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0rem;
    border: 0rem;
}

h5 {
    font-size: 2.5rem;
    font-family: $font-title;
    margin: 1rem;
    padding: 1rem;
    border: 0rem;
}

// párrafos
p { font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1rem;
    border: 0rem;
    text-align: center;
    color: rgb(90, 89, 89);
    font-family: $font-body;


    strong {
    font-family: 'Sarabun', sans-serif semibold;
    }
}

// cuadrados
.cuadrados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;

}

.cuadradosa {
    background-color: rgb(228, 222, 217) ;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

// imagen 

.doscolum {
    display: inline-block;
    justify-content: space-between;
    margin-top: 1.5rem;
}

img {
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    }
    
// contenedor
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;

    -footer {
    padding: 3rem 0;
    text-align: center;
        -trabajos {
        margin: 1.5rem;
        margin-top: rem;
        margin-bottom: 2rem;
        display: grid;  
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr)
        }
    }
}

// contacto
.contacto-footer{
    background-color: $color-orange;
    margin: 0rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.consulta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem;
}


// footer
.footer{
    background-color: black;
    color: white;
    padding: 1rem;

    __flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    text-align: center;
    }
}

.site-footer {
    background-color: #333333;
    margin: 0;
}


.copyright {
    margin: 0;
    color: #ffffff;
}

// boton
button {
    size: 2rem;
    font-family: $font-body;
    font-size: 1.5rem;
    background-color: $color-white;
    border-radius: 5px;
    border-color: none;
    background-color: $color-white;
}

// responsive
@media screen and (max-width: 675px) {
    .ham{
        background-color:rgb(235, 71, 17);
        display: block;
        cursor: pointer;
        margin: 0rem;
        padding-right: 1.5rem;
    }
    .menu {
        text-align: center;
        width: 100%;
        background-color: rgb(243, 192, 174);
        display: none;
        margin-top: 0rem;

     a{
        display: block;
        border-bottom: 1px solid black;
        margin: 0rem;
     }
    }
    #lines:checked + .menu{
        display: block;
    }
    #logo{
        display: none;

    .contacto-footer{
        background-color: burlywood;
        margin: 0rem;
        padding: 1rem;
        padding-top: 2rem;
        padding-left: 2rem;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   }
    
    .consulta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
}